.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  /* выше установили ограничения для секции */
}

.logo_place_header {
  color: black;
  height: 32px;
  width: 183px;
  position: absolute;
  left: 64px;
  top: 30px;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.header__title {
  display: flex;
  margin: auto 0;
  padding: 0 0 0 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  color: black;
  z-index: 2;
}


.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: black;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color:  #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;

}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;

}

.description {
  display: flex;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  padding-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  padding: 100px 0;
}

.section-title {
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: auto;
  padding: 0 0 20px 0;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: nornal;
  margin: auto;
  padding: 0;
}

.table__two-columns {
  width: 1100px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.table__row {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.table__cell {
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.table__text_source {
  padding-top: 20px;
}

.feynman {
  height:  890px;
  position: relative;
  background-color: #f2f2f2;
}

.feynman__title {
  text-align: center;
  margin: auto;
  padding: 100px 0 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  color: black;
  position: relative;
  z-index: 2;
}

.feynman__subtitle {
  text-align: center;
  margin: auto;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: black;
  position: relative;
  z-index: 2;
}


.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;

}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  line-height: 52px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  z-index: 2;
}

.kaufman {
  background-color: black;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
}

.section-title_theme_dark {
  text-align: center;
  color: white;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: auto;
  padding: 0 0 20px 0;
  position: relative;
  z-index: 2;
}

.section-subtitle_theme_dark {
  text-align: center;
  color: white;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: nornal;
  margin: auto;
  padding: 0;
  position: relative;
  z-index: 2;
}

.table__two-columns_theme_dark {
  width: 1100px;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  z-index: 2;
}



.table__row_theme_dark {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
}

.table__heading_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 20px;
}

.table__text_theme_dark {
  color: white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: black;
  min-height: 350px;
  display: flex;
}

.footer__columns {
  width: 90%;
  padding: 60px 0 40px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: white;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 18px 0;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 20px;
}

.footer__column-links {
  margin: 0;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;

}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-link {
  display: flex;
  align-items: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
